<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <p class="copy">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
  </div>
</footer>

<%- js('js/jquery-3.2.1.min') %>
<%- js('js/main') %>
<%- js('fancybox/jquery.fancybox.min') %>
