<% if (page.prev || page.next){ %>
<nav class="pagination">
  <% if (page.prev){ %>
    <a class="prev" href="<%- config.root %><%- page.prev_link %>"><%= __('newer') %></a>
  <% } %>
  <% if (page.next){ %>
    <a class="next" href="<%- config.root %><%- page.next_link %>"><%= __('older') %></a>
  <% } %>
</nav>
<% } %>
